Repository di-dao/sonr, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Community, Config, Docker, Feature, Breaking Changes, @Minor-Release, @Patch-Release

.github/labeler.yml:

# Add 'repo' label to any root file changes
Repo:
  - "*"
  - ".gitignore"
  - ".vscode/**"
  - ".devcontainer/**"

Community:
  - "CODE_OF_CONDUCT.md"
  - "CONTRIBUTING.md"
  - "LICENSE"
  - "SECURITY.md"
  - "README.md"
  - docs/**/*
  - DEVELOPERS.md
  - Taskfile.yml

Config:
  - app/**/*
  - config/**/*
  - Makefile
  - proto/buf*
  - go.mod
  - go.sum

Docker:
  - ".dockerignore"
  - "Dockerfile"
  - "docker-compose.yml"

Feature:
  - internal/**/*
  - x/**/*
  - tools/**/*

Breaking Changes:
  - proto/**/*
  - types/**/*
  - Earthfile

"@Minor-Release":
  - "go.mod"
  - "go.sum"
  - "crypto/**"
  - Earthfile
  - ".github/**"

"@Patch-Release":
  - "**/*.go"

Initialized the VaultsFolder and added a Touch function to create an empty file if it doesn't exist.
  pkg/fs/folder.go
Labels: @Patch-Release

Implemented a `Node()` method on `Folder` to return a `files.Node` representation of the folder and its contents.
  pkg/fs/folder.go
Labels: @Patch-Release

Implemented support for IPFS files in the folder module.
  pkg/fs/folder.go
Labels: @Patch-Release

Added internal/motr/drive.go
  internal/motr/drive.go
  pkg/ipfs/ipfs.go
Labels: Feature, @Patch-Release

Added support for generating IPFS keys and saving/publishing folders to IPFS.
  internal/motr/drive.go
  pkg/fs/folder.go
  pkg/ipfs/ipfs.go
Labels: Feature, @Patch-Release

Added support for loading IPFS folders into the local file system.
  pkg/fs/folder.go
Labels: @Patch-Release

Added encryption and decryption functionality to the Folder struct.
  pkg/fs/folder.go
Labels: @Patch-Release

Removed unused code related to encryption and IPFS client in the Folder package.
  pkg/fs/folder.go
Labels: @Patch-Release

Added functionality to load IPFS nodes into a Folder.
  pkg/fs/folder.go
Labels: @Patch-Release

feat(fs): optimize IPNS publishing
  app/app.go
  internal/motr/drive.go
  internal/motr/libsql.go
  internal/motr/models/authenticator.go
  internal/motr/models/credential.go
  internal/motr/models/metadata.go
  internal/motr/models/profile.go
  internal/motr/models/wallet.go
  internal/motr/options/options.go
  internal/motr/utils.go
  internal/vfd/models/keyset.go
  internal/vfd/models/metadata.go
  internal/vfd/vfd.go
  pkg/fs/default.go
  pkg/fs/file.go
  pkg/fs/folder.go
  pkg/fs/utils.go
  pkg/ipfs/ipfs.go
  pkg/ipfs/vfs.go
  pkg/vault/components/index.templ
  pkg/vault/components/index_templ.go
  pkg/vault/components/ui/layout.templ
  pkg/vault/components/ui/layout_templ.go
  pkg/vault/components/ui/styles.templ
  pkg/vault/components/ui/styles_templ.go
  pkg/vault/handlers/login_handler.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/handlers/session_handler.go
Labels: Config, Feature, @Patch-Release

feat(motr): Add marshaling for user and value in VFD
  internal/motr/drive.go
  internal/motr/libsql.go
Labels: Feature, @Patch-Release

feat: Add accumulator marshaling and unmarshaling
  crypto/secret/key.go
  internal/motr/models/metadata.go
Labels: Feature, @Minor-Release, @Patch-Release

feat(metadata): add metadata model and utilities
  pkg/vault/components/ui/layout.templ
  pkg/vault/components/ui/layout_templ.go
  pkg/vault/components/ui/styles.templ
  pkg/vault/components/ui/styles_templ.go
Labels: @Patch-Release

feat(did): add DID document and remove controller struct
  internal/motr/utils.go
  pkg/motor/drive.go
  pkg/motor/internal/authorizer.go
  pkg/motor/internal/controller.go
  pkg/motor/internal/database.go
  pkg/motor/internal/metadata.go
  pkg/motor/libsql.go
  pkg/motor/utils.go
  pkg/vault/components/index_templ.go
  proto/did/v1/account.proto
  proto/did/v1/genesis.proto
  x/did/keeper/server.go
Labels: Feature, Breaking Changes, @Patch-Release

feat: Add helper functions for Accumulators and Metadata
  internal/local/local.go
  internal/models/metadata.go
  internal/models/wallet.go
  pkg/coins/coins.go
  pkg/coins/defaults.go
  pkg/motor/internal/controller.go
  pkg/motor/internal/database.go
  pkg/motor/internal/metadata.go
  pkg/motor/libsql.go
  pkg/motor/utils.go
Labels: Feature, @Patch-Release

feat: Improve Folder WriteFile and add Credential fields
  go.mod
  go.sum
  internal/models/credential.go
  internal/models/fsentry.go
  pkg/fs/folder.go
  pkg/fs/system.go
  pkg/motor/internal/authorizer.go
  pkg/motor/internal/controller.go
Labels: Repo, Config, Feature, @Minor-Release, @Patch-Release

GitButler Integration Commit
  internal/local/local.go
  internal/models/authenticator.go
  internal/models/credential.go
  internal/models/fsentry.go
  internal/models/metadata.go
  internal/models/profile.go
  internal/models/wallet.go
  internal/motr/libsql.go
  internal/motr/models/wallet.go
  internal/motr/options/options.go
  internal/motr/utils.go
  pkg/coins/coins.go
  pkg/coins/defaults.go
  pkg/fs/folder.go
  pkg/fs/system.go
  pkg/motor/drive.go
  pkg/motor/internal/authorizer.go
  pkg/motor/internal/controller.go
  pkg/motor/internal/database.go
  pkg/motor/internal/metadata.go
  pkg/motor/motor.go
  pkg/vault/components/index_templ.go
  pkg/vault/components/ui/layout.templ
  pkg/vault/components/ui/layout_templ.go
  pkg/vault/components/ui/styles.templ
  pkg/vault/components/ui/styles_templ.go
  proto/did/v1/account.proto
  proto/did/v1/genesis.proto
  x/did/keeper/server.go
Labels: Feature, Breaking Changes, @Patch-Release

Updated crypto key generation and package dependencies
  Taskfile.yml
  crypto/secret/key.go
  go.mod
  go.sum
  internal/models/fsentry.go
  pkg/fs/system.go
Labels: Repo, Community, Config, Feature, @Minor-Release, @Patch-Release

Refactor file system model and improve IPFS sync
  pkg/fs/entry.go
  pkg/fs/system.go
Labels: @Patch-Release

Added new fields to the FSEntry struct to track sync and publish status, and implemented methods to set the sync and publish status.
  pkg/fs/entry.go
  pkg/fs/system.go
Labels: @Patch-Release

Refactor codebase and enhance database functionality
  internal/actor/controller.go
  internal/actor/system.go
  internal/actor/types.go
  internal/fs/entry.go
  internal/fs/file.go
  internal/fs/folder.go
  internal/fs/system.go
  internal/fs/utils.go
  pkg/motor/drive.go
  pkg/motor/internal/authorizer.go
  pkg/motor/internal/controller.go
  pkg/motor/internal/database.go
  pkg/motor/internal/metadata.go
Labels: Feature, @Patch-Release

Added support for protoreflect in DIDDocument
  api/did/v1/account.pulsar.go
  api/did/v1/did.pulsar.go
  api/did/v1/genesis.pulsar.go
  crypto/bip32/bip32_test.go
  internal/models/metadata.go
  pkg/coins/coins.go
  pkg/motor/internal/authorizer.go
  pkg/motor/jwx/claims.go
  pkg/motor/jwx/options.go
  proto/did/v1/account.proto
  proto/did/v1/did.proto
  proto/did/v1/genesis.proto
  proto/did/v1/state.proto
  x/did/types/account.pb.go
  x/did/types/coins.go
  x/did/types/did.pb.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
Labels: Feature, Breaking Changes, @Minor-Release, @Patch-Release

Updated dependencies in go.mod and go.sum
  go.mod
  go.sum
Labels: Repo, Config, @Minor-Release

Updated build paths in Taskfile
  Taskfile.yml
Labels: Repo, Community

Added caching middleware to server
  go.mod
  go.sum
  pkg/vault/middleware/cache.go
  pkg/vault/middleware/response.go
  pkg/vault/server.go
Labels: Repo, Config, @Minor-Release, @Patch-Release

Updated dependencies in go.mod and go.sum
  go.mod
  go.sum
Labels: Repo, Config, @Minor-Release

Updated dependencies and refactored code
  go.mod
  go.sum
  pkg/vault/components/index.templ
  pkg/vault/components/index_templ.go
  pkg/vault/handlers/login_handler.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/handlers/session_handler.go
  pkg/vault/middleware/cache.go
  pkg/vault/middleware/cookies.go
  pkg/vault/server.go
Labels: Repo, Config, @Minor-Release, @Patch-Release

UI
  .air.toml
  pkg/vault/components/index_templ.go
  pkg/vault/components/layout.templ
  pkg/vault/components/layout_templ.go
  pkg/vault/components/pages.templ
  pkg/vault/components/pages_templ.go
  pkg/vault/components/styles.templ
  pkg/vault/components/styles_templ.go
  pkg/vault/components/ui.templ
  pkg/vault/components/ui_templ.go
  pkg/vault/handlers/login_handler.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/handlers/session_handler.go
  pkg/vault/middleware/cache.go
  pkg/vault/routes/routes.go
  pkg/vault/server.go
Labels: Repo, @Patch-Release

Update handlers and UI
  pkg/vault/components/layout.templ
  pkg/vault/components/layout_templ.go
  pkg/vault/components/pages.templ
  pkg/vault/components/pages_templ.go
  pkg/vault/components/styles.templ
  pkg/vault/components/styles_templ.go
  pkg/vault/components/ui.templ
  pkg/vault/components/ui_templ.go
  pkg/vault/handlers/login_handler.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/handlers/session_handler.go
  pkg/vault/handlers/wallet_handler.go
  pkg/vault/routes/routes.go
Labels: @Patch-Release

Implemented caching middleware for Vault requests and added a function to clear the cache for a specific session.
  pkg/vault/middleware/cache.go
  pkg/vault/middleware/cookies.go
Labels: @Patch-Release

Update Caching
  .gitignore
  go.mod
  go.sum
  pkg/vault/middleware/cache.go
  pkg/vault/middleware/cookies.go
Labels: Repo, Config, @Minor-Release, @Patch-Release

Renamed Cache function to SessionCache
  pkg/vault/middleware/cache.go
Labels: @Patch-Release

Added challenge parameter to Register function
  pkg/vault/components/pages.templ
  pkg/vault/components/pages_templ.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/middleware/cache.go
  pkg/vault/middleware/cookies.go
  pkg/vault/middleware/session.go
Labels: @Patch-Release

Updated dependencies and simplified session challenge generation
  go.mod
  go.sum
  pkg/vault/middleware/cache.go
  pkg/vault/middleware/session.go
Labels: Repo, Config, @Minor-Release, @Patch-Release

Added caching functionality to the session middleware.
  pkg/vault/middleware/session.go
Labels: @Patch-Release

Implemented caching for local path and remote CID in session middleware.
  pkg/vault/middleware/session.go
Labels: @Patch-Release

Updated caching and registration logic
  .air.toml
  go.mod
  go.sum
  pkg/vault/components/pages.templ
  pkg/vault/components/pages_templ.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/middleware/cache.go
  pkg/vault/middleware/webauth.go
Labels: Repo, Config, @Minor-Release, @Patch-Release

Relocated OIDC related code and added new middleware
  internal/models/oidc.go
  pkg/vault/middleware/open_id.go
Labels: Feature, @Patch-Release

Update Caching to include session middleware
  pkg/vault/components/layout.templ
  pkg/vault/components/layout_templ.go
  pkg/vault/components/pages.templ
  pkg/vault/components/pages_templ.go
  pkg/vault/components/ui.templ
  pkg/vault/components/ui_templ.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/middleware/cache.go
  pkg/vault/middleware/response.go
  pkg/vault/middleware/session.go
  pkg/vault/middleware/webauth.go
Labels: @Patch-Release

Refactored encryption logic and updated UI components
  crypto/secret/encrypt.go
  internal/models/metadata.go
  internal/models/wallet.go
  pkg/did/formatter.go
  pkg/did/identifier.go
  pkg/did/resolver.go
  pkg/did/types.go
  pkg/did/verification.go
  pkg/motor/internal/authorizer.go
  pkg/motor/internal/fingerprint.go
  pkg/motor/motor.go
  pkg/vault/components/pages.templ
  pkg/vault/components/pages_templ.go
  pkg/vault/server.go
Labels: Feature, @Minor-Release, @Patch-Release
