Repository di-dao/sonr, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, @domain/crypto, @domain/did, @domain/mpc, @domain/txs, @module/domain, @module/identity, @module/service, @module/wasm, Config, Proto

.github/labeler.yml:

# Add 'repo' label to any root file changes
Repo:
  - "*"
  - ".github/**"
  - ".gitignore"
  - ".vscode/**"
  - ".devcontainer/**"

# Add '@domain/*' label to any change within the 'pkg' directory
"@domain/crypto":
  - pkg/crypto/**
"@domain/did":
  - pkg/did/**
"@domain/mpc":
  - pkg/mpc/**
"@domain/txs":
  - pkg/txs/**

# Add '@module/*' label to any change within the 'x' directory
"@module/domain":
  - x/domain/**
"@module/identity":
  - x/identity/**
"@module/service":
  - x/service/**
"@module/wasm":
  - contracts/**

Config:
  - app/**/*
  - config/**/*
  - sonr.yml

Proto:
  - proto/**/*

GitButler Integration Commit
  .devcontainer/devcontainer.json
  .gitignore
  Dockerfile
  api/did/v1/query.pulsar.go
  api/did/v1/query_grpc.pb.go
  api/did/v1/tx.pulsar.go
  api/did/v1/tx_grpc.pb.go
  internal/vfd/data.go
  internal/vfd/libsql.go
  internal/vfd/vfd.go
  proto/did/v1/query.proto
  proto/did/v1/tx.proto
  x/did/keeper/querier.go
  x/did/keeper/server.go
  x/did/types/account.pb.go
  x/did/types/account_eth.go
  x/did/types/genesis.go
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
  x/did/types/tx.pb.go
Labels: Repo, Proto

chore(proto): pin cosmos-sdk dependency to a specific commit for stability
  proto/buf.yaml
Labels: Proto

Update dids
  Dockerfile
  api/did/v1/tx.pulsar.go
  proto/buf.yaml
  x/did/types/account.pb.go
  x/did/types/account_eth.go
  x/did/types/coins.go
  x/did/types/tx.pb.go
Labels: Repo, Proto

Update dids
  Dockerfile
  api/did/v1/query.pulsar.go
  cmd/vault/main.go
  go.mod
  go.sum
  internal/vfd/data.go
  internal/vfd/db/db.go
  internal/vfd/fs/fs.go
  internal/vfd/fs/ipns.go
  internal/vfd/keys/keys.go
  internal/vfd/libsql.go
  internal/vfd/models/account.go
  internal/vfd/models/authenticator.go
  internal/vfd/models/coin.go
  internal/vfd/models/credential.go
  internal/vfd/models/metadata.go
  internal/vfd/models/profile.go
  internal/vfd/models/property.go
  pkg/vault/handlers/broadcast_handler.go
  pkg/vault/handlers/login_handler.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/handlers/session_handler.go
  pkg/vault/handlers/wallet_handler.go
  pkg/vault/middleware/auth.go
  pkg/vault/middleware/ipfs.go
  pkg/vault/middleware/session.go
  pkg/vault/middleware/sql.go
  pkg/vault/routes/routes.go
  proto/did/v1/query.proto
  x/did/types/query.pb.go
  x/did/types/query.pb.gw.go
Labels: Repo, Proto

feat(crypto): add encryption scheme and secret key management
  crypto/accumulator/README.md
  crypto/accumulator/accumulator.go
  crypto/accumulator/accumulator_test.go
  crypto/secret/encrypt.go
  crypto/secret/key.go
  go.mod
  go.sum
  internal/vfd/keys/keys.go
  pkg/vault/middleware/oidc.go
Labels: Repo

docs: add README for Zero-Knowledge, Post-Quantum Hybrid Encryption Scheme
  crypto/secret/README.md
  crypto/secret/encrypt.go
Labels: none

refactor(crypto): rename SecretKey to PrimaryKey and move key derivation logic
  crypto/secret.go
  crypto/secret/encrypt.go
  crypto/secret/key.go
  internal/vfd/models/credential.go
  internal/vfd/models/property.go
  pkg/wallet/props.go
Labels: none

chore(devbox.json, go.mod, go.sum): add templ dependency for templating support refactor(pkg): remove unused cache and vault packages to clean up codebase
  devbox.json
  devbox.lock
  go.mod
  go.sum
  pkg/cache/cache.go
  pkg/cache/cache_test.go
  pkg/vault/client.go
  pkg/vault/fs.go
  pkg/vault/handlers/auth_handler.go
  pkg/vault/handlers/login_handler.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/middleware/auth.go
  pkg/vault/middleware/ipfs.go
  pkg/vault/middleware/session.go
  pkg/vault/middleware/sql.go
  pkg/vault/pages/index.templ
  pkg/vault/pages/index_templ.go
  pkg/vault/vault.go
  pkg/vault/vault_test.go
  pkg/wallet/account.go
  pkg/wallet/authenticator.go
  pkg/wallet/credential.go
  pkg/wallet/info.go
  pkg/wallet/props.go
  pkg/wallet/props_test.go
  pkg/wallet/wallet.go
  pkg/wallet/wallet_test.go
Labels: Repo

feat(vltd): integrate urfave/cli for command-line interface support
  cmd/vltd/main.go
  go.mod
  go.sum
  pkg/vault/middleware/render.go
  pkg/vault/pages/index.templ
  pkg/vault/pages/index_templ.go
Labels: Repo

refactor: replace urfave/cli with spf13/cobra for command-line parsing
  cmd/vltd/main.go
  internal/local/context.go
  internal/local/context_test.go
  internal/local/local.go
  pkg/jwt/claims.go
  pkg/jwt/options.go
  pkg/vault/handlers/login_handler.go
  pkg/vault/handlers/session_handler.go
  pkg/vault/pages/index.templ
  pkg/vault/pages/index_templ.go
  pkg/vault/routes/routes.go
  pkg/vault/server.go
Labels: none

feat: add air.toml for live-reloading and update Taskfile for new build tasks
  .air.toml
  .gitignore
  Taskfile.yml
  cmd/vltd/main.go
  devbox.json
  devbox.lock
  internal/vfd/vfd.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/server.go
Labels: Repo

Added a new file `pkg/fs/folder.go` to the codebase.
  pkg/fs/folder.go
Labels: none

Added folder creation, existence checking, removal, reading, joining, and directory checking functionality to the Folder type.
  pkg/fs/folder.go
Labels: none

Added a `Node()` method to the `Folder` type to return a `files.Node` representation of the folder.
  pkg/fs/folder.go
Labels: none

Implemented directory listing functionality in Folder.Node()
  pkg/fs/folder.go
Labels: none

Removed unused `files` package dependency from `pkg/fs/folder.go`.
  pkg/fs/folder.go
Labels: none

Added support for loading and saving folders as IPFS nodes.
  pkg/fs/folder.go
Labels: none

Added a new folder_test.go file to the pkg/fs directory.
  pkg/fs/folder_test.go
Labels: none

Added a new file `pkg/fs/file.go` and updated the `LoadNodeInFolder` function in `pkg/fs/folder.go`.
  pkg/fs/file.go
  pkg/fs/folder.go
Labels: none

Implemented a new `AddFile` method in the `Folder` struct to add files to the directory.
  pkg/fs/file.go
  pkg/fs/folder.go
Labels: none

feat(index.templ): integrate Shoelace library for enhanced UI components style(index.templ): update body content to use Shoelace card for better layout
  pkg/vault/pages/index.templ
  pkg/vault/pages/index_templ.go
Labels: none

Update Devbox
  Taskfile.yml
  devbox.json
  devbox.lock
  go.mod
  go.sum
  pkg/fs/folder_test.go
  pkg/fs/utils.go
  process-compose.yml
  x/did/types/account.pb.go
Labels: Repo

Added a new function to create a new Folder instance and create the folder on disk.
  pkg/fs/folder.go
Labels: none

docs(fs): add comment for Path method in folder.go to improve code readability
  pkg/fs/folder.go
Labels: none

Renamed the `VFS` interface to `Folder` and updated the corresponding function names and return types.
  pkg/ipfs/ipfs.go
Labels: none

Refactored the Folder struct to include path and name, added new methods to set path and validate folder existence.
  pkg/fs/folder.go
Labels: none

Refactored the `Folder` struct to use `path.Path` instead of a string for the path, and updated the related methods accordingly.
  pkg/fs/folder.go
Labels: none

Refactored the File struct to use a string path instead of a name and data, and added new methods for reading, writing, appending, checking existence, removing, and opening the file.
  pkg/fs/file.go
Labels: none

Added default file system implementation.
  pkg/fs/default.go
Labels: none

Initialized the VaultsFolder with the user's home directory and created it if it doesn't exist.
  pkg/fs/default.go
  pkg/fs/folder.go
Labels: none

Refactored `FetchVaultPath` function to use `VaultsFolder.Join` method instead of `filepath.Join`.
  pkg/fs/default.go
Labels: none

Created the vaults folder if it did not already exist.
  pkg/fs/default.go
Labels: none

Added a new function to create a new vault folder under the VaultsFolder directory.
  pkg/fs/folder.go
Labels: none

Removed unused `fmt` import from `pkg/fs/folder.go`.
  pkg/fs/folder.go
Labels: none

Added a new function `NewVaultFolder` to create a new folder under the `VaultsFolder` directory.
  pkg/fs/folder.go
Labels: none

Added a `Touch` function to the `Folder` struct to create an empty file if it doesn't exist, or update its access and modification times if it does.
  pkg/fs/folder.go
Labels: none

Implemented a `Path()` method to return the full path of a file.
  pkg/fs/file.go
Labels: none

Added support for the `io/fs` package in the `File` type.
  pkg/fs/file.go
Labels: none

Added a new metadata model file to the internal motr package.
  internal/motr/models/metadata.go
Labels: none

Added metadata fields for name, size, type, created, modified, owner, and permission.
  internal/motr/models/metadata.go
Labels: none
