Repository di-dao/sonr, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, @domain/crypto, @domain/did, @domain/mpc, @domain/txs, @module/domain, @module/identity, @module/service, @module/wasm, Config, Proto

Added new models and updated existing ones
  internal/models/options.go
  internal/models/profile.go
  pkg/bcast/bcast.go
  pkg/motor/drive.go
  pkg/motor/internal/controller.go
  pkg/motor/internal/database.go
  pkg/motor/internal/fingerprint.go
  pkg/motor/internal/vault.go
  pkg/vault/components/pages.templ
  pkg/vault/components/pages_templ.go
  pkg/vault/components/ui.templ
  pkg/vault/components/ui_templ.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/middleware/openid.go
  pkg/vault/middleware/webauth.go
  pkg/vault/routes/routes.go
Labels: none

Update Vault
  pkg/vault/handlers/register_handler.go
  pkg/vault/middleware/response.go
  pkg/vault/routes/routes.go
Labels: none

Added a new `Overwrite` method to the `File` struct that deletes the existing file if it exists and writes the new data.
  internal/fs/file.go
Labels: none

Update Fingerprint Logic
  go.mod
  go.sum
  pkg/motor/internal/fingerprint.go
  pkg/vault/handlers/oidc_handler.go
  pkg/vault/middleware/macroon.go
  pkg/vault/middleware/openid.go
  pkg/vault/routes/routes.go
Labels: Repo

Improved the credential creation process by validating the form, retrieving user information from the form, and handling errors when creating the credential.
  pkg/vault/components/ui.templ
Labels: none

Update brewfile
  pkg/motor/internal/fingerprint.go
  pkg/motor/jwx/claims.go
  pkg/motor/jwx/options.go
  pkg/vault/components/ui_templ.go
  pkg/vault/handlers/page_handler.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/middleware/forms.go
Labels: none

Added methods to check existence of credentials, profiles, and wallets, and added witness methods to generate proofs for credentials, profiles, and wallets.
  pkg/motor/internal/database.go
Labels: none

Added error handling for WitnessCredential, ExistsCredential, ExistsProfile, and ExistsWallet functions.
  pkg/motor/internal/database.go
Labels: none

Update brewfile
  go.mod
  internal/models/credential.go
  internal/models/oidc.go
  internal/models/options.go
  internal/models/profile.go
  internal/models/wallet.go
  pkg/coins/coins.go
  pkg/coins/defaults.go
  pkg/motor/internal/controller.go
  pkg/motor/internal/database.go
  pkg/motor/internal/fingerprint.go
  pkg/motor/internal/vault.go
  pkg/vault/handlers/oidc_handler.go
Labels: Repo

Update brewfile
  pkg/coins/defaults.go
Labels: none

{}
  ollama
  pkg/motor/internal/fingerprint.go
Labels: Repo

{}
  ollama
Labels: Repo

{}
  internal/env/context.go
  internal/env/local.go
  internal/fs/entry.go
  internal/fs/file.go
  internal/fs/system.go
  internal/fs/utils.go
  pkg/dwn/drive.go
  pkg/dwn/internal/controller.go
  pkg/dwn/internal/database.go
  pkg/dwn/internal/fingerprint.go
  pkg/dwn/internal/metadata.go
  pkg/dwn/internal/vault.go
  pkg/dwn/motor.go
Labels: none

{}
  cmd/sonrd/root.go
  internal/orm/authenticator.go
  internal/orm/credential.go
  internal/orm/metadata.go
  internal/orm/oidc.go
  internal/orm/profile.go
  internal/orm/wallet.go
  pkg/did/formatter.go
  pkg/dwn/internal/database.go
  pkg/dwn/internal/metadata.go
  pkg/vault/handlers/register_handler.go
Labels: @domain/did

Added unique indexes on the `id` field for the `Authenticator`, `Keyshare`, and `Proof` messages in the `proto/did/v1/state.proto` file.
  proto/did/v1/state.proto
Labels: Proto

Updated the state.proto tables to properly reflect the struct for a verification method of a DID document.
  proto/did/v1/state.proto
Labels: Proto

Added the origin field to the Assertion message in the DID state proto.
  proto/did/v1/state.proto
Labels: Proto

Added DID Document, VerificationMethod, and Service messages to the DID state proto file.
  proto/did/v1/state.proto
Labels: Proto

Removed DIDDocument and VerificationMethod messages, updated Controller and Delegation messages.
  proto/did/v1/state.proto
Labels: Proto

Updated the orm.table annotations in state.proto to make did resolution in the query service simpler.
  proto/did/v1/state.proto
Labels: Proto

Added the DID field to the Delegation message.
  proto/did/v1/state.proto
Labels: Proto

Commit message: Replaced string primary keys with auto-incrementing integer primary keys and added unique indexes on relevant fields in the DID module's state.proto file.
  proto/did/v1/state.proto
Labels: Proto

Updated the scripts to generate ORM separately from the pulsar generator.
  proto/buf.gen.pulsar.yaml
  scripts/protocgen.sh
Labels: Proto

{}
  did/module/v1/module.pulsar.go
  did/v1/account.pulsar.go
  did/v1/genesis.pulsar.go
  did/v1/query.pulsar.go
  did/v1/query_grpc.pb.go
  did/v1/state.pulsar.go
  did/v1/tx.pulsar.go
  did/v1/tx_grpc.pb.go
  internal/wasm/controller.go
  oracle/module/v1/module.pulsar.go
  oracle/v1/genesis.pulsar.go
  oracle/v1/query.pulsar.go
  oracle/v1/tx.pulsar.go
  proto/did/v1/state.proto
Labels: Proto

{}
  api/did/v1/state.cosmos_orm.go
  api/did/v1/state.pulsar.go
  proto/did/v1/state.proto
  x/did/types/account.pb.go
  x/did/types/state.pb.go
Labels: Proto

{}
  x/did/types/account.pb.go
Labels: none

Update fs → vfs
  internal/orm/metadata.go
  internal/vfs/entry.go
  internal/vfs/file.go
  internal/vfs/folder.go
  internal/vfs/system.go
  internal/vfs/utils.go
  pkg/dwn/drive.go
  pkg/dwn/internal/controller.go
  pkg/dwn/internal/database.go
  pkg/dwn/internal/fingerprint.go
  pkg/dwn/internal/metadata.go
  pkg/dwn/internal/vault.go
Labels: none

Move DWN
  internal/dwn/drive.go
  internal/dwn/internal/controller.go
  internal/dwn/internal/database.go
  internal/dwn/internal/fingerprint.go
  internal/dwn/internal/metadata.go
  internal/dwn/internal/vault.go
  internal/dwn/motor.go
Labels: none

{}
  internal/vfs/entry.go
  internal/vfs/file.go
  internal/vfs/folder.go
  internal/vfs/system.go
  internal/vfs/utils.go
  pkg/bcast/bitcoin.go
  pkg/bcast/ethereum.go
  pkg/bcast/sonr.go
  pkg/motor/connect.go
  pkg/motor/spawn.go
Labels: none

Update VFS
  internal/dwn/controller.go
  internal/dwn/database.go
  internal/dwn/drive.go
  internal/dwn/fingerprint.go
  internal/dwn/metadata.go
  internal/dwn/motor.go
  internal/dwn/vault.go
  internal/vfs/entry.go
  internal/vfs/system.go
  pkg/motor/spawn.go
Labels: none

{}
  Taskfile.yml
  crypto/data.go
  go.mod
  go.sum
  internal/dwn/db.go
  internal/dwn/dwn.go
  internal/dwn/fingerprint.go
  internal/dwn/metadata.go
  internal/dwn/vlt.go
  internal/js/credentials.templ
  internal/js/credentials_templ.go
  internal/js/storage.templ
  internal/js/storage_templ.go
  internal/vfs/ipfs.go
  internal/vfs/utils.go
  pkg/bcast/bitcoin.go
  pkg/bcast/ethereum.go
  pkg/bcast/sonr.go
  pkg/coins/defaults.go
  pkg/motor/actor.go
  pkg/motor/cache.go
  pkg/motor/config.go
  pkg/motor/context.go
  pkg/motor/provider.go
  pkg/motor/spawn.go
Labels: Repo

Update Context
  Taskfile.yml
  internal/env/context.go
  internal/env/local.go
  internal/js/credentials.templ
  internal/js/credentials_templ.go
Labels: Repo

Refactored internal packages to pkg directory.
  internal/dwn/db.go
Labels: none

Converted the db.go file to use only raw SQL statements instead of using the ORM types.
  internal/dwn/db.go
Labels: none

Refactored the database package by removing unused functions and reorganizing the struct fields.
  internal/dwn/db.go
Labels: none

Replaced deprecated go-sqlite3 dependency with modernc.org/sqlite for WASM compatibility.
  internal/dwn/db.go
Labels: none

Added support for building a WebAssembly binary for the DWN component.
  Taskfile.yml
  crypto/core/protocol/protocol.go
  internal/dwn/db.go
  internal/dwn/dwn.go
  internal/dwn/vlt.go
  internal/vfs/file.go
  internal/vfs/folder.go
  internal/vfs/ipfs.go
  internal/vfs/utils.go
  pkl/txns/bitcoin.pkl
  pkl/txns/ethereum.pkl
  pkl/txns/osmosis.pkl
  pkl/txns/sonr.pkl
Labels: Repo

(no commit message provided)
  internal/dwn/go.mod
  internal/dwn/go.sum
  pkg/vfs/file.go
  pkg/vfs/folder.go
  pkg/vfs/ipfs.go
  pkg/vfs/utils.go
Labels: none

.github/labeler.yml:

# Add 'repo' label to any root file changes
Repo:
  - "*"
  - ".github/**"
  - ".gitignore"
  - ".vscode/**"
  - ".devcontainer/**"

# Add '@domain/*' label to any change within the 'pkg' directory
"@domain/crypto":
  - pkg/crypto/**
"@domain/did":
  - pkg/did/**
"@domain/mpc":
  - pkg/mpc/**
"@domain/txs":
  - pkg/txs/**

# Add '@module/*' label to any change within the 'x' directory
"@module/domain":
  - x/domain/**
"@module/identity":
  - x/identity/**
"@module/service":
  - x/service/**
"@module/wasm":
  - contracts/**

Config:
  - app/**/*
  - config/**/*
  - sonr.yml

Proto:
  - proto/**/*
