Repository di-dao/sonr, changes with the labels that .github/labeler.yml gives for each.
All labels: Repo, Community, Config, Documentation, Docker, Major, Minor, Patch

Initialized the VaultsFolder and added a Touch function to create an empty file if it doesn't exist.
  pkg/fs/folder.go
Labels: none

Implemented a `Node()` method on `Folder` to return a `files.Node` representation of the folder and its contents.
  pkg/fs/folder.go
Labels: none

Implemented support for IPFS files in the folder module.
  pkg/fs/folder.go
Labels: none

Added internal/motr/drive.go
  internal/motr/drive.go
  pkg/ipfs/ipfs.go
Labels: Minor

Added support for generating IPFS keys and saving/publishing folders to IPFS.
  internal/motr/drive.go
  pkg/fs/folder.go
  pkg/ipfs/ipfs.go
Labels: Minor

Added support for loading IPFS folders into the local file system.
  pkg/fs/folder.go
Labels: none

Added encryption and decryption functionality to the Folder struct.
  pkg/fs/folder.go
Labels: none

Removed unused code related to encryption and IPFS client in the Folder package.
  pkg/fs/folder.go
Labels: none

Added functionality to load IPFS nodes into a Folder.
  pkg/fs/folder.go
Labels: none

feat(fs): optimize IPNS publishing
  app/app.go
  internal/motr/drive.go
  internal/motr/libsql.go
  internal/motr/models/authenticator.go
  internal/motr/models/credential.go
  internal/motr/models/metadata.go
  internal/motr/models/profile.go
  internal/motr/models/wallet.go
  internal/motr/options/options.go
  internal/motr/utils.go
  internal/vfd/models/keyset.go
  internal/vfd/models/metadata.go
  internal/vfd/vfd.go
  pkg/fs/default.go
  pkg/fs/file.go
  pkg/fs/folder.go
  pkg/fs/utils.go
  pkg/ipfs/ipfs.go
  pkg/ipfs/vfs.go
  pkg/vault/components/index.templ
  pkg/vault/components/index_templ.go
  pkg/vault/components/ui/layout.templ
  pkg/vault/components/ui/layout_templ.go
  pkg/vault/components/ui/styles.templ
  pkg/vault/components/ui/styles_templ.go
  pkg/vault/handlers/login_handler.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/handlers/session_handler.go
Labels: Minor

feat(motr): Add marshaling for user and value in VFD
  internal/motr/drive.go
  internal/motr/libsql.go
Labels: Minor

feat: Add accumulator marshaling and unmarshaling
  crypto/secret/key.go
  internal/motr/models/metadata.go
Labels: Minor

feat(metadata): add metadata model and utilities
  pkg/vault/components/ui/layout.templ
  pkg/vault/components/ui/layout_templ.go
  pkg/vault/components/ui/styles.templ
  pkg/vault/components/ui/styles_templ.go
Labels: none

feat(did): add DID document and remove controller struct
  internal/motr/utils.go
  pkg/motor/drive.go
  pkg/motor/internal/authorizer.go
  pkg/motor/internal/controller.go
  pkg/motor/internal/database.go
  pkg/motor/internal/metadata.go
  pkg/motor/libsql.go
  pkg/motor/utils.go
  pkg/vault/components/index_templ.go
  proto/did/v1/account.proto
  proto/did/v1/genesis.proto
  x/did/keeper/server.go
Labels: Minor

feat: Add helper functions for Accumulators and Metadata
  internal/local/local.go
  internal/models/metadata.go
  internal/models/wallet.go
  pkg/coins/coins.go
  pkg/coins/defaults.go
  pkg/motor/internal/controller.go
  pkg/motor/internal/database.go
  pkg/motor/internal/metadata.go
  pkg/motor/libsql.go
  pkg/motor/utils.go
Labels: Minor

feat: Improve Folder WriteFile and add Credential fields
  go.mod
  go.sum
  internal/models/credential.go
  internal/models/fsentry.go
  pkg/fs/folder.go
  pkg/fs/system.go
  pkg/motor/internal/authorizer.go
  pkg/motor/internal/controller.go
Labels: Minor, Patch

GitButler Integration Commit
  internal/local/local.go
  internal/models/authenticator.go
  internal/models/credential.go
  internal/models/fsentry.go
  internal/models/metadata.go
  internal/models/profile.go
  internal/models/wallet.go
  internal/motr/libsql.go
  internal/motr/models/wallet.go
  internal/motr/options/options.go
  internal/motr/utils.go
  pkg/coins/coins.go
  pkg/coins/defaults.go
  pkg/fs/folder.go
  pkg/fs/system.go
  pkg/motor/drive.go
  pkg/motor/internal/authorizer.go
  pkg/motor/internal/controller.go
  pkg/motor/internal/database.go
  pkg/motor/internal/metadata.go
  pkg/motor/motor.go
  pkg/vault/components/index_templ.go
  pkg/vault/components/ui/layout.templ
  pkg/vault/components/ui/layout_templ.go
  pkg/vault/components/ui/styles.templ
  pkg/vault/components/ui/styles_templ.go
  proto/did/v1/account.proto
  proto/did/v1/genesis.proto
  x/did/keeper/server.go
Labels: Minor

Updated crypto key generation and package dependencies
  Taskfile.yml
  crypto/secret/key.go
  go.mod
  go.sum
  internal/models/fsentry.go
  pkg/fs/system.go
Labels: Community, Minor, Patch

Refactor file system model and improve IPFS sync
  pkg/fs/entry.go
  pkg/fs/system.go
Labels: none

Added new fields to the FSEntry struct to track sync and publish status, and implemented methods to set the sync and publish status.
  pkg/fs/entry.go
  pkg/fs/system.go
Labels: none

Refactor codebase and enhance database functionality
  internal/actor/controller.go
  internal/actor/system.go
  internal/actor/types.go
  internal/fs/entry.go
  internal/fs/file.go
  internal/fs/folder.go
  internal/fs/system.go
  internal/fs/utils.go
  pkg/motor/drive.go
  pkg/motor/internal/authorizer.go
  pkg/motor/internal/controller.go
  pkg/motor/internal/database.go
  pkg/motor/internal/metadata.go
Labels: Minor

Added support for protoreflect in DIDDocument
  api/did/v1/account.pulsar.go
  api/did/v1/did.pulsar.go
  api/did/v1/genesis.pulsar.go
  crypto/bip32/bip32_test.go
  internal/models/metadata.go
  pkg/coins/coins.go
  pkg/motor/internal/authorizer.go
  pkg/motor/jwx/claims.go
  pkg/motor/jwx/options.go
  proto/did/v1/account.proto
  proto/did/v1/did.proto
  proto/did/v1/genesis.proto
  proto/did/v1/state.proto
  x/did/types/account.pb.go
  x/did/types/coins.go
  x/did/types/did.pb.go
  x/did/types/genesis.go
  x/did/types/genesis.pb.go
Labels: Minor

Updated dependencies in go.mod and go.sum
  go.mod
  go.sum
Labels: Patch

Updated build paths in Taskfile
  Taskfile.yml
Labels: Community

Added caching middleware to server
  go.mod
  go.sum
  pkg/vault/middleware/cache.go
  pkg/vault/middleware/response.go
  pkg/vault/server.go
Labels: Patch

Updated dependencies in go.mod and go.sum
  go.mod
  go.sum
Labels: Patch

Updated dependencies and refactored code
  go.mod
  go.sum
  pkg/vault/components/index.templ
  pkg/vault/components/index_templ.go
  pkg/vault/handlers/login_handler.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/handlers/session_handler.go
  pkg/vault/middleware/cache.go
  pkg/vault/middleware/cookies.go
  pkg/vault/server.go
Labels: Patch

UI
  .air.toml
  pkg/vault/components/index_templ.go
  pkg/vault/components/layout.templ
  pkg/vault/components/layout_templ.go
  pkg/vault/components/pages.templ
  pkg/vault/components/pages_templ.go
  pkg/vault/components/styles.templ
  pkg/vault/components/styles_templ.go
  pkg/vault/components/ui.templ
  pkg/vault/components/ui_templ.go
  pkg/vault/handlers/login_handler.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/handlers/session_handler.go
  pkg/vault/middleware/cache.go
  pkg/vault/routes/routes.go
  pkg/vault/server.go
Labels: none

Update handlers and UI
  pkg/vault/components/layout.templ
  pkg/vault/components/layout_templ.go
  pkg/vault/components/pages.templ
  pkg/vault/components/pages_templ.go
  pkg/vault/components/styles.templ
  pkg/vault/components/styles_templ.go
  pkg/vault/components/ui.templ
  pkg/vault/components/ui_templ.go
  pkg/vault/handlers/login_handler.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/handlers/session_handler.go
  pkg/vault/handlers/wallet_handler.go
  pkg/vault/routes/routes.go
Labels: none

Implemented caching middleware for Vault requests and added a function to clear the cache for a specific session.
  pkg/vault/middleware/cache.go
  pkg/vault/middleware/cookies.go
Labels: none

Update Caching
  .gitignore
  go.mod
  go.sum
  pkg/vault/middleware/cache.go
  pkg/vault/middleware/cookies.go
Labels: Repo, Patch

Renamed Cache function to SessionCache
  pkg/vault/middleware/cache.go
Labels: none

Added challenge parameter to Register function
  pkg/vault/components/pages.templ
  pkg/vault/components/pages_templ.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/middleware/cache.go
  pkg/vault/middleware/cookies.go
  pkg/vault/middleware/session.go
Labels: none

Updated dependencies and simplified session challenge generation
  go.mod
  go.sum
  pkg/vault/middleware/cache.go
  pkg/vault/middleware/session.go
Labels: Patch

Added caching functionality to the session middleware.
  pkg/vault/middleware/session.go
Labels: none

Implemented caching for local path and remote CID in session middleware.
  pkg/vault/middleware/session.go
Labels: none

Updated caching and registration logic
  .air.toml
  go.mod
  go.sum
  pkg/vault/components/pages.templ
  pkg/vault/components/pages_templ.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/middleware/cache.go
  pkg/vault/middleware/webauth.go
Labels: Patch

Relocated OIDC related code and added new middleware
  internal/models/oidc.go
  pkg/vault/middleware/open_id.go
Labels: Minor

Update Caching to include session middleware
  pkg/vault/components/layout.templ
  pkg/vault/components/layout_templ.go
  pkg/vault/components/pages.templ
  pkg/vault/components/pages_templ.go
  pkg/vault/components/ui.templ
  pkg/vault/components/ui_templ.go
  pkg/vault/handlers/register_handler.go
  pkg/vault/middleware/cache.go
  pkg/vault/middleware/response.go
  pkg/vault/middleware/session.go
  pkg/vault/middleware/webauth.go
Labels: none

Refactored encryption logic and updated UI components
  crypto/secret/encrypt.go
  internal/models/metadata.go
  internal/models/wallet.go
  pkg/did/formatter.go
  pkg/did/identifier.go
  pkg/did/resolver.go
  pkg/did/types.go
  pkg/did/verification.go
  pkg/motor/internal/authorizer.go
  pkg/motor/internal/fingerprint.go
  pkg/motor/motor.go
  pkg/vault/components/pages.templ
  pkg/vault/components/pages_templ.go
  pkg/vault/server.go
Labels: Minor

.github/labeler.yml:

# Add 'repo' label to any root file changes
Repo:
  - ".github/**/*"
  - ".gitignore"
  - ".vscode/**"
  - ".devcontainer/**"

Community:
  - "CODE_OF_CONDUCT.md"
  - "CONTRIBUTING.md"
  - "LICENSE"
  - "SECURITY.md"
  - "README.md"
  - docs/**/*
  - DEVELOPERS.md
  - Taskfile.yml

Config:
  - config/**/*

Documentation:
  - docs/**/*

Docker:
  - ".dockerignore"
  - "Dockerfile"
  - "docker-compose.yml"

Major:
  - networks/testnet-2/**/*
  - networks/mainnet-1/**/*

Minor:
  - proto/**/*
  - types/**/*
  - internal/**/*
  - x/**/*

Patch:
  - "go.mod"
  - "go.sum"
